.footer{
   /* position: relative; */
   left: 0;
   bottom: 0;
   /* width: 100%; */
   background-color: #5f788a;
   height: 100%;
   /* color: white; */
   /* text-align: center; */
   /* display: flex; */
   /* align-self: flex-end; */
  }