.content-section{
    transition: all .5s ease-in-out;    
}

.content-section:hover{
    transition: all .5s ease-in-out;
    transform: scale(1.05);
    background-color: rgba(0,0,0,0.1);
    border: 1px solid black;
}