{% extends "blog/base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'blog/aboutus.css' %}" />
{% endblock styles %}
{% block content %}
<div class="container">
  <div class="hero-image">
  </div>
  {% comment %} <h2>ABOUT US</h2> {% endcomment %}
  <p class="mt-5">
    Welcome to Blog App, this blog is made with Django, visit
    <a
      href="https://github.com/ppagano91/Full-Featured-Web-App-Django"
      target="_blank"
      >github</a
    >
    to learn how we made it or clone the repository.
  </p>
  <p class="mb-5">
    We hope you enjoy the content of the Blog. If you have any questions or
    comments, please don't hesitate to
    <a href="{% url 'blog-contact' %}">contact us</a>
  </p>
</div>
{% endblock content %}
