{% extends "blog/base.html" %}
    <!-- Aquí empieza el encabezado principal que se mantendrá en todas las páginas del sitio web -->
    {% block content %}
    <h2>About Us</h2>
    <p>
        Welcome to Blog App, this blog is made with Django, visit <a href="#">github</a> to learn how we made it or clone the repository.
    </p>
    <p>We hope you enjoy the content of the Blog. If you have any questions or comments, please don't hesitate to <a href="{% url 'blog-contact' %}">contact us</a></p>

    {% endblock content %}