{% load static %}
{% comment %} {% load bootstrap4 %} {% endcomment %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if title %}
    <title>Blog App - {{title}}</title>
    {% else %}
    <title>Blog App</title>
    {% endif %}
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Required meta tags -->

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Faicons-->
    <link rel="stylesheet" href="{% static 'bootstrap_icons/css/bootstrap_icons.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/reset.css' %}" />
    
    {% block styles %}
    {% endblock styles %}

    {% comment %} {% bootstrap_css %} {% endcomment %}


    <!-- las tres siguientes líneas son un truco para obtener elementos semánticos de HTML5 que funcionan en versiones de Internet Explorer antiguas -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Blog App</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              <a class="nav-item nav-link" href="{% url 'blog-contact' %}">Contact</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'post-create' %}">{% bs_icon 'plus' %} New Post</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>

              {% else  %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif  %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- Aquí está el contenido principal de nuestra página -->
    <main role="main" class="container">
  <div class="row">
    {% if user.is_authenticated %}
      <div class="col-md-8">
    {% else %}
      <div class="col-md-12">
    {% endif %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
          {{message}}
        </div>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </div>
    {% if user.is_authenticated %}
    <div class="col-md-4">
      <div class="content-section">
        <h3>{{user.username}}</h3>
        <p class='text-muted'>Information about user.
          <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{% url 'post-create' %}">New Post</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'user-posts' user.username %}">Latest Posts</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'profile' %}">Profile</a></li>
          </ul>
        </p>
      </div>
    </div>    
    {% endif %}
  </div>
</main>

    <!-- Y aquí está nuestro pie de página principal que se utiliza en todas las páginas de nuestro sitio web -->

    <!-- Footer -->
    <footer role="footer" class="footer mt-5">
      <div class="container d-flex flex-column justify-content-center">
        <div class="row">
          <div class="links col-sm-12 d-flex justify-content-center w-100 m-1">
              <a href="mailto:pagano.patricio@gmail.com" style="margin: 5px" target="_blank">{% bs_icon 'google' size='25px' color='red' %}</a>
              <a href="https://api.whatsapp.com/send?phone=+542916418967&text=Hola Patricio,\nQuiero contactar contigo!" style="margin: 5px" target="_blank">{% bs_icon 'whatsapp' size='25px' color='green' %}</a>
              <a href="https://www.instagram.com/patricio.pagano/" style="margin: 5px" target="_blank">{% bs_icon 'instagram' size='25px' color='purple' %}</a>
              <a href="https://www.linkedin.com/in/patricio-pagano/" style="margin: 5px" target="_blank">{% bs_icon 'linkedin' size='25px' color='blue' %}</a>
              <a href="https://github.com/ppagano91" style="margin: 5px" target="_blank">{% bs_icon 'github' size='25px' color='black' %}</a>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-center w-100">
          <p style="color: white"><strong>Copyright © 2022. Patricio Pagano</strong></p>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
